.root {
    border-radius: 40px;
    background: #1C1C21;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.content {

}

.title {

}

.status {
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredientList {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.ingredient {
    margin-left: -16px;
}

.ingredientImage {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    background: #131316;
    flex-shrink: 0;
    position: relative;
}

.ingredientCount {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(28, 28, 33, 0.6);
}

.ingredient img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
}

.ingredient:last-child {
    margin-left: 0;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.details .ingredientList {
    align-items: unset;
    flex-direction: column;
    transform: none;
    gap: 16px;
    max-height: 312px;
    overflow: auto;
}

.details .ingredient {
    margin-left: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.details .ingredient .price {
    margin-left: auto;
}

.details .header {
    justify-content: center;
}