.root {

}

.tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.top {

}

.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 40px;
    max-height: calc(100vh - 324px);
}

.listItem {

}

.sublist {

}

.sublistItem {

}