.title {
    margin-top: 0;
}

.total {
    text-shadow: 0 4px 32px rgba(51, 51, 255, 0.50), 0 0 8px rgba(51, 51, 255, 0.25), 0 0 16px rgba(51, 51, 255, 0.25);
}

.sectionTotal {
    grid-column: span 2;
}

.success {
    color: #00CCCC;
}

.number {

}