.wrapper {
    gap: 60px;
    display: grid;
    grid-template-columns: 1.09355fr 1fr;
}

.cardsWrapper {
    overflow: auto;
    max-height: calc(100vh - 60px - 208px);
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 36px;
}