.root {
    cursor: pointer;
    color: inherit;
}

.top {
    position: relative;
    padding: 0 16px;
}

.bottom {
    text-align: center;
    min-height: 48px;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 240 / 120;
}

.price {
    display: flex;
    justify-content: center;
}