.root {
	flex-basis: 320px;
}

.link {
	height: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.text {
	color: #8585AD;
}