.root {
    background-color: #1C1C21;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
}

.profile {
    justify-content: flex-end;
}