.container {
    max-width: 1256px;
    padding: 0 16px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.color_secondary {
    color: #8585AD;
}
.color_error {
    color: #E52B1A;
}
.color_success {
    color: #00CCCC;
}